<div class="row  d-flex">

<div class="col-md-4 col-sm-12 col-lg-3 justify-content-center align-self-center">
<div class="card justify-content-center align-self-center" style="width: 18rem;">
  <img src="assets/img/supermarket-1.jpg" class="card-img-top" alt="...">
  <div class="card-body">
    <p class="card-text"><strong>Lulu mall</strong>,Lulu mall</p>
    <a href="#" class="btn btn-primary card-btn-link">Add List</a>
    <a href="#" class="btn btn-primary card-btn-link">History</a>
  </div>
</div>
</div>

<div class="col-md-4 col-sm-12 col-lg-3 justify-content-center align-self-center">
<div class="card justify-content-center align-self-center" style="width: 18rem;">
  <img src="assets/img/supermarket-1.jpg" class="card-img-top" alt="...">
  <div class="card-body">
    <p class="card-text"><strong>Priyom supermart</strong>,Chembumukk</p>
    <a href="#" class="btn btn-primary card-btn-link">Add List</a>
    <a href="#" class="btn btn-primary card-btn-link">History</a>
  </div>
</div>
</div>

<div class="col-md-4 col-sm-12 col-lg-3 justify-content-center align-self-center">
<div class="card justify-content-center align-self-center" style="width: 18rem;">
  <img src="assets/img/supermarket-1.jpg" class="card-img-top" alt="...">
  <div class="card-body">
    <p class="card-text"><strong>Relience Fresh</strong>,Vazhakala</p>
    <a href="#" class="btn btn-primary card-btn-link">Add List</a>
    <a href="#" class="btn btn-primary card-btn-link">History</a>
  </div>
</div>
</div>

<div class="col-md-4 col-sm-12 col-lg-3 justify-content-center align-self-center">
<div class="card justify-content-center align-self-center" style="width: 18rem;">
  <img src="assets/img/supermarket-1.jpg" class="card-img-top" alt="...">
  <div class="card-body">
    <p class="card-text"><strong>More</strong>,Seaport rd, kakanad</p>
    <a href="#" class="btn btn-primary card-btn-link">Add List</a>
    <a href="#" class="btn btn-primary card-btn-link">History</a>
  </div>
</div>
</div>

</div>