<div class="row">
<div class="col-12 text-center">
	<h3>Lulu Hypermarket</h3>
	<h6>Lulu Mall,Edappalli</h6>
</div>
</div>

<div class="row">
<div class="col-md-3 col-lg-4 col-sm-12">

	<div class="card">
	  <div class="card-header">
	  	<div class="row">
	  		<div class="col-10">Sun,12 September 2019</div>
	  		<div class="col-2"><fa title="Credit Card" name="credit-card"></fa></div>
	  	</div>
	   </div>
	  <div class="card-body">
	    <h5 class="card-title">Total : <strong>&#8377; 1890.00</strong></h5>
	    <p class="card-text">You bought 28 items</p>
	    <p class="card-text">Milk/butter/Rice/Chicken...</p>
	    <a href="#" class="btn btn-primary">Get full history</a>
	  </div>
	</div>
</div>
<div class="col-md-3 col-lg-4 col-sm-12">

	<div class="card">
	  <div class="card-header">
	    <div class="row">
	  		<div class="col-10">Sun,12 September 2019</div>
	  		<div class="col-2"><fa title="Credit Card" name="money"></fa></div>
	  	</div>
	  </div>
	  <div class="card-body">
	    <h5 class="card-title">Total : <strong>&#8377; 5560.00</strong></h5>
	    <p class="card-text">You bought 49 items</p>
	    <p class="card-text">Milk/butter/Rice/Chicken...</p>
	    <a href="#" class="btn btn-primary">Get full history</a>
	  </div>
	</div>
</div>
<div class="col-md-3 col-lg-4 col-sm-12">

	<div class="card">
	  <div class="card-header">
	   <div class="row">
	  		<div class="col-10">Sun,12 September 2019</div>
	  		<div class="col-2"><fa title="Credit Card" name="money"></fa></div>
	  	</div>
	  </div>
	  <div class="card-body">
	    <h5 class="card-title">Total : <strong>&#8377; 200.00</strong></h5>
	    <p class="card-text">You missed 2 items</p>
	    <p class="card-text">Milk/butter/Rice/Chicken...</p>
	    <a href="#" class="btn btn-primary">Get full history</a>
	  </div>
	</div>
</div>
<div class="col-md-3 col-lg-4 col-sm-12">

	<div class="card">
	  <div class="card-header">
	    <div class="row">
	  		<div class="col-10">Sun,12 September 2019</div>
	  		<div class="col-2"><fa title="Credit Card" name="credit-card"></fa></div>
	  	</div>
	  </div>
	  <div class="card-body">
	    <h5 class="card-title">Total : <strong>&#8377; 800.00</strong></h5>
	    <p class="card-text">You bought 10 items and missed 2</p>
	    <p class="card-text">Milk/butter/Rice/Chicken...</p>
	    <a href="#" class="btn btn-primary">Get full history</a>
	  </div>
	</div>

</div>

</div>